.display-3{
    font-size: 30px;
    color: white;
}
.para{
    color:white;
}
.container-fluid{
    background-image: url(https://images.pexels.com/photos/1036856/pexels-photo-1036856.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
}