html {
 /* overflow: visible; */
 /* overflow: hidden; */
}

html, body{
  height: 100%;
scroll-behavior: smooth;
}

.logo-text{
  font-family: 'Rajdhani', sans-serif;
  font-size: 7rem;
  font-weight: 700;

}

.tagline{
  margin-top: -2.3rem;
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 4rem;
}


.about{
  padding-bottom: 15rem;
}

#about:target {
  /* transition: 12s; */  

}


.about-card {
  margin: 0 2px;
  transform: scale(0.8);
  min-width: 275;
  margin: 3rem auto;
  height:95rem;
  width:95rem;
  background-color: black;
  border-radius: 100%;
  box-shadow: 0 1rem 4rem rgba(0,0,0,.7);
  padding: 17rem;
  /* <Card className="about-card">
         <CardContent>
         </CardContent>
       </Card> */
}

.about-des{
  color: white;
}

.parallax {
    /* The image used */
    /* background-image: url("http://i63.tinypic.com/30nc96u.jpg"); */

    /* Set a specific height */
    height: 50rem;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* mask: linear-gradient(to top, black 80%, transparent); */

}


.App {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    height: 90rem;
  }

  .App-header {
    background-color: #898;
    height: 15rem;
    font-size: 4rem;
    padding: 2rem;
    color: white;
  }

  .App-intro {
    font-size: large;
  }

  #background-video {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%, -1px) scale(2);
    object-fit: cover;
}

.blurme {
  /* filter: ; */
  filter: grayscale(100%) blur(1rem);
  transition: .6s;

}

.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 5.5rem 0;
}



@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}
