#suggestion-card-img {
    /* border-radius: 10%; */
    width: 250px;
    height: 250px;   
   /* border-bottom: 0;  */
}
.list-group{
    font-family:  'Gentium Basic', serif;
    overflow: scroll;
    font-size: 18px;
   
}
.card{
    font-size: 18px;
    font-family:  'Gentium Basic', serif;
    overflow: scroll;
    font-weight: bold;
    border: solid grey 1px;
}