#suggestion-card-img {
    border-radius: 10%;
    width: 200px;
    height: 200px;   
   /* border-bottom: 0;  */
}
.list-group{
    font-family:  'Gentium Basic', serif;
}
.card{
    font-size: 15px;
    font-family:  'Gentium Basic', serif;
}